*{
    margin: 0px;
    padding: 0px;
    border-width: 0;
    background-color: rgba(255, 255, 255, 0.864);
}

body {
    margin: 0px;
    padding: 0px;
    border-width: 0;
    background-color: rgba(255, 255, 255, 0.864);
    height: 100%;
    position: relative;

}




.linea {
    margin: 0%;
    padding: 0%;
    width: 5%;
    height: 100%;
    background-color:  #ffd700;
    position: absolute;
    float: right;
    margin:auto;
    top: 0%;
    right:98.6%;



   
}
.img-log{
    grid-area: header;
    height: 100%;
    width: 100%;
    float: right;
    margin:auto;
    top: 25%;
    left: 25%;
}
.Encabezado{
    grid-area: header;
    height: 50%;
    width: 11%;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    float: right;
    position: absolute;
    top: 0%;
    left: 50%;  
    top: 3%;
    right: 50%;  
   
} 


.botones { 
grid-area: header;
height: 5%;
width: 48%;
background-color: rgb(255, 255, 255);
margin: 0px;
float: right;
position: absolute;
top: 3%;
right: 50%;  
border-top-left-radius: 10mm;
border-bottom-left-radius: 10mm;
border-top-right-radius: 10mm;
border-bottom-right-radius: 10mm;

}
 
.btn, .btn-chico, .btn-mediano, .btn-grande, .btn:link, .btn:visited 
    

    .btn {
    margin-right: 8px;
    margin-left: 8px;
    background-color: #ffd700;
    background-size: 1000px;
    color: rgb(26, 87, 230);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1vw;
    border-radius: 10mm;
    margin: 2mm;
    padding: 1mm;
    }
    .btn-chico {
        margin-right: 1px;
        margin-left: 10px;
        background-color: #0d0d0d;
        background-size: 1000px;
        color: rgb(26, 87, 230);
        font-family: sans-serif;
        font-weight: bold;
        font-size: 2vw;
        border-radius: 10mm;
        margin: 5mm;
        padding: 2mm;
   
    }

    .btn-mediano {
        margin-right: 1px;
        margin-left: 10px;
        background-color: #ffd700;
        background-size: 1000px;
        color: rgb(26, 87, 230);
        font-family: sans-serif;
        font-weight: bold;
        font-size: 2vw;
        border-radius: 10mm;
        margin: 5mm;
        padding: 2mm;
      
    } 
     
    .btn-grande {
        margin-right: 1px;
        margin-left: 10px;
        background-color: #e14424;
        background-size: 1000px;
        color: rgb(21, 21, 22);
        font-family: sans-serif;
        font-weight: bold;
        font-size: 2vw;
        border-radius: 10mm;
        margin: 5mm;
        padding: 2mm;
    }

    .img-nut {
        grid-area: header;
        height: 100%;
        width: 100%;
      float: right;
        margin:auto;
        top: 25%;
        left: 25%;
        border-top-left-radius: 30mm;
        border-bottom-left-radius: 30mm;

    }
    
    #foto1{
        height: 70%;
        width: 29%;
        background-color: lawngreen;
        margin: 10px;
        float: right;
        border-top-left-radius: 30mm;
        border-bottom-left-radius: 30mm;
        position: absolute;
        top: 15%;
        left: 70%;  
}

#foto2{
    height: 50%;
    width: 33%;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    float: left;
    border-top-right-radius: 20mm;
    border-bottom-right-radius:20mm ;
    position: absolute;
    top: 49%;
    left: .4%;  
}

.img-plato{   
    height: 100%;
    width: 100%;
    float: left;
    margin:auto;
    top: 25%;
    left: 25%;
    border-top-right-radius: 20mm;
    border-bottom-right-radius:20mm ;
 }






.texto1{
    font-family: sans-serif;
    font-size: 10px;
    color: rgb(82, 195, 12);
    position: absolute;
    float: left;
    top: 17%;
    left: 28px;  
    height: 2.5%;
    width: 33%;
    background-color: #ffffff;
 
        
    }
    

    h4{
    @media screen and {max-width: 500px}
    font-size: 2vw;
    }

    h5{
        font-size: 2vw;
        @media screen and {max-width: 500px}
        font-size: 1.6vw;
        color: rgb(22, 22, 190); 
        text-align:justify  
        }

.pie{
   
    background-color:  rgb(255, 234, 0);
    height: 5%;
    width: 100%;
    margin: 0px;
    float: left;
    position: absolute;
    top: 98%;
      
}

html {
    height: 100%;
}

#wa{
    height: 100%;
    width: 4%;
    background-color: rgb(255, 234, 0);
    margin: 0px;
    float: right;
    position: absolute;
    top: 0%;
    left: 4%;
}
.img-wa{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 234, 0);
}

#face{
    height: 100%;
    width: 4%;
    background-color: rgb(255, 234, 0);
    margin: 0px;
    float: right;
    position: absolute;
    top: 0%;
    left: 9%;
}
.img-face{
    height: 50%;
    width: 50%;
    background-color: rgb(255, 234, 0);
}

#insta{
    height: 100%;
    width: 4%;
    background-color:rgb(255, 234, 0);
    margin: 0px;
    float: right;
    position: absolute;
    top: 0%;
    left: 14%;
}

.img-insta{
    height: 50%;
    width: 50%;
    background-color: rgb(255, 234, 0);
}

.Cuerpo {
   
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 30px;
    position: absolute;
    float:right;
    left: 27%;
    top: 12%;
    height: 15.9%;
    width: 32%;
  

  }
.Contenedor {
    display: grid;
    gap: 1700px;
   
    /*Estructura para definir columnas como se visualizara en plantilla html*/
      grid-template:
      "header"  100px /*Encabezado*/
      "navbar"  100px   /*Menu*/
      "main"    1700px  /*Cuerpo*/
      "sidebar" 100px /*Barra Lateral*/
      "footer"  100px; /*Pie*/
  }
  
  @media (min-width: 1700px) {
    .Contenedor {
        display: grid;
    gap: 8%;
}
.Cuerpo {
  left: 39%;
  float:right;
  top: 60%;
}
h5{
  font-size: 19px;

}

}
    
    @media (min-width: 800px) {
        .Contenedor {
            display: grid;
        gap: 5.0%;    
          }
          .Cuerpo {
            left: 39%;
            float:right;
            top: 57%;
          }
          h5{
            font-size: 17px;

          }
        
        }

    @media (min-width: 400px) {
        .Contenedor {
            display: grid;
        gap: 100%;    
          }
          .Cuerpo {
            left: 37%;
            float:right;
            top: 47%;
          }
          h5{
            font-size: 15px;
          }
        }
        @media (min-width: 300px) {
            .Contenedor {
                display: grid;
            gap: 100%;    
              }
              .Cuerpo {
                left: 39%;
                float:right;
                top: 47%;
                width: 31%;

              }
              h5{
                font-size: 14px;
                
              }
              h4 {
                font-size: 15px;
            
              }
            }
    




       

           