*{
    margin: 0px;
    padding: 0px;
    border-width: 0;
    background-color: rgba(255, 255, 255, 0.864);
}
#logo {
    background-color:rgba(255, 255, 255, 0.864);
    margin:0px;
    padding: 10px;
    width: 1300px;
    height:20px;
   
}

#general {
    margin: 0px;
    padding: 1mm;
    width: 2mm;
    height: 800px;
    background-color: rgb(255, 234, 0);
   


}

.img-log{
    height: 500%;
    width: 10%;
    display: block;
    display:block;
    margin:auto;
}


.btn {
    margin-right: 1px;
    margin-left: 10px;
    background-color: #ffd700;
    background-size: 1000px;
    color: rgb(26, 87, 230);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10mm;
    margin: 5mm;
    padding: 2mm;
}
 
.btn, .btn-chico, .btn-mediano, .btn-grande, .btn:link, .btn:visited {
    color: rgb(26, 87, 230); 
    background-color: #ffd700;}

    .btn-chico {
        font-size: 1rem;
        display: inline-block;
        width: calc(50% - 20px);
        padding: 5px;
        margin: px;
        background-color: #5d6bea!important;
        border-radius: 5px;    
        font-family: 'Source Sans Pro', sans-serif;
        padding: 6px 18px;
    }
     
    .btn-mediano {
        font-size: 1rem;
        display: inline-block;
        width: calc(50% - 20px);
        padding: 10px;
        margin: 10px;
        background-color: #79dd74!important;
        border-radius: 5px;    
        font-family: 'Source Sans Pro', sans-serif;
        padding: 6px 18px;
    } 
     
    .btn-grande {
        font-size: 1rem;
        display: inline-block;
        width: calc(50% - 20px);
        padding: 10px;
        margin: 10px;
        background-color: #525251!important;
        border-radius: 5px;    
        font-family: 'Source Sans Pro', sans-serif;
        padding: 6px 18px;
    }



.img-nut {

    height: 100%;
    width: 100%;
  float: right;
    margin:auto;
    top: 25%;
    left: 25%;
    border-top-left-radius: 50mm;
    border-bottom-left-radius: 50mm;

    }
    #foto1{
        height: 70%;
        width: 34.5%;
        background-color: lawngreen;
        margin: 10px;
        float: right;
        border-top-left-radius: 50mm;
        border-bottom-left-radius: 50mm;
        position: absolute;
        top: 15%;
        left: 65%;  
}

#foto2{
    height: 50%;
    width: 35%;
    background-color: rgb(177, 26, 26);
    margin: 10px;
    float: left;
    border-top-right-radius: 20mm;
    border-bottom-right-radius:20mm ;
    position: absolute;
    top: 49%;
    left: .4%;  
}

.img-plato{   
    height: 100%;
    width: 100%;
    float: left;
    margin:auto;
    top: 25%;
    left: 25%;
    border-top-right-radius: 20mm;
    border-bottom-right-radius:20mm ;
 }



#texto1{
    font-family: sans-serif;
    font-size: 2.2vw ;
    color: rgb(82, 195, 12);
    line-height:;
    position: absolute;
    float: left;
    top: 25%;
    left: 5%;  
   

}
#texto2{
    font-family: sans-serif;
    font-size: 1.5vw;
    color: rgb(22, 22, 190);
    line-height: ;
    position: absolute;
    float: left;
    top: 38%;
    left: 5%;  

}


